body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.15;
}

header {
    background: #74001c !important;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: #74001c !important;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.team-grid {
    display: grid;
    margin:auto;
    gap: 20px;
    max-width: 1200px;

}
.team-grid1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columns per row */
    gap: 20px; /* Space between items */
    /* max-width: 1200px; */
    margin: auto;
}

.team-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
    gap: 20px; /* Space between items */
    /* max-width: 1200px; */
    margin: auto;
}

.member {
    text-align: center;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}

.member img {
    
}

.publication {
    margin-bottom: 40px; /* Wider separation */
    padding-bottom: 20px;
    border-bottom: 3px solid #ddd;
}

.publication-title {
    font-style: italic;
    color: darkred;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.links a {
    color: #003366;
    font-size: 24px;
    text-decoration: none;
}

.links a:hover {
    color: darkred;
}

#slider-container {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.slider {
    position: relative;
    width: 100%;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: white;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    animation: fadeEffect 1.5s;
}

@keyframes fadeEffect {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

.course {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.past-offerings {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
}